[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]

[packages]
websockets = "*"
tomlkit = "*"
aiohttp = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.8"
